<div class="login-container">
  <div class="login-form">
    <form #SignInForm="ngForm" (ngSubmit)="getSignInFormData(SignInForm.value)">
      <div class="form-group">
        <label for="name">Username</label>
        <input
        type="text"
        name="name"
        class="form-control"
        [(ngModel)]="username"
        />
      </div>
    <div class="form-group">
      <label for="email">Email Id</label>
      <input
      type="email"
      name="email"
      class="form-control"
      [(ngModel)]="email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
      type="password"
      name="password"
      class="form-control"
      [(ngModel)]="password"
      />
    </div>
    <div class="btn-container">
      <!-- <div class="error">{{ errorMsg }}</div> -->
      <button class="btn btn-dark">Register</button>
    </div>
    <div class="login" (click)="login()">Already a member? Login!!</div>
    </form>
  </div>

</div>
