.product-container {
  width: 1400px;
  margin: 0 auto;
  padding: 50px;
  font-family: cursive;
}

.product-container .top {
  display: flex;
}

.product-container .top .left {
  width: 450px;
}

.product-container .top .left .name {
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
  font-style: italic;
  font-family: cursive;
  line-height: 1.3;
}


.product-container .top .left .cover {
  width: 400px;
  height: 500px;
  margin-right: 50px;
}

.product-container .top .left .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.product-container .top .right {
  width: 900px;
  padding-top: 100px;
}

.product-container .top .right .title {
  margin-bottom: 30px;
  font-weight: bold;
}

.cap {
  text-transform: capitalize;
}

.product-container .top .right .rating-form .form-group {
  margin-top: 20px;
}

.product-container .top .right .rating-form .form-group .rating {
  margin-top: -13px;
}

.product-container .top .right .rating-form .form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-container .top .right .rating-form .form-group textarea {
  resize: none;
}

.product-container .top .right .rating-form .btn-container {
  margin-top: 30px;
}
