.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 40px;
  cursor: pointer;
}

.navbar-nav {
  font-size: 18px;
  font-weight: bold;
  margin-right: 40px;
  cursor: pointer;
  padding-left: 20%;
  float: right;


}

.search {
  padding-left: 15%;
  width: 100%;
}
